.example-item {
  background-color: var(--white-text-color);
  transition-property: box-shadow;
  transition-duration: var(--transfotmation-time);
  transition-timing-function: var(--tranformation-function);
}

.example-item__thumb {
  display: block;
  position: relative;
  overflow: hidden;
}

.example-item__illustration {
  display: block;
  max-width: 100%;
  height: auto;
}

.example-item__hover-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100%;
  left: 0;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  overflow: hidden;
  color: var(--white-text-color);
  background-color: var(--background-example-hover-overley);
  transition-property: transform;
  transition-duration: var(--transfotmation-time);
  transition-timing-function: var(--tranformation-function);
}

.example-item__link:hover .example-item,
.example-item__link:focus .example-item {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.example-item__link:hover .example-item__hover-overlay,
.example-item__link:focus .example-item__hover-overlay {
  transform: translateY(-100%);
}

.example-item__description {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-left: 1px solid var(--border-cards-color);
  border-right: 1px solid var(--border-cards-color);
  border-bottom: 1px solid var(--border-cards-color);
}

.example-item__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.example-item__text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
