.filters {
  display: flex;
  flex-wrap: wrap;
  row-gap: 15px;
  justify-content: start;
  margin-bottom: 40px;

  @media screen and (min-width: $tablet) {
    justify-content: center;
    margin-bottom: 30px;
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: 50px;
  }
}

.filters__button {
  color: var(--title-text-color);
  padding: 6px 22px;
  border-radius: 4px;
  border: 1px solid transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  box-shadow: none;
  background-color: var(--background-secondary);
  transition-property: color, background-color, box-shadow;
  transition-duration: var(--transfotmation-time);
  transition-timing-function: var(--tranformation-function);

  &:hover,
  &:focus {
    color: var(--white-text-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

.filters__item:not(:last-child) {
  margin-right: 8px;
}
