.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-footer);
}

.footer__container {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
  }
}

.footer__column {
  text-align: center;
  // outline: 1px dotted green;

  &--3 {
    @media screen and (min-width: $tablet) {
      flex-basis: 50%;
    }
    @media screen and (min-width: $desktop) {
      text-align: left;
      flex-basis: 25%;
      // margin-right: 30px;
    }

    @media screen and (max-width: $desktop - 1) {
      margin-bottom: 60px;
    }
  }
  &--6 {
    @media screen and (min-width: $tablet) {
      flex-basis: 100%;
    }
    @media screen and (min-width: $desktop) {
      text-align: left;
      flex-basis: 50%;
    }
  }
}

.footer__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
  margin-top: 7px;
  margin-bottom: 20px;
}
