.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-footer);
}

.footer__container {
  display: flex;
}

.footer__column {
  &--3 {
    width: 270px;
    margin-right: 30px;
  }
  &--6 {
    width: 570px;
  }
}

.footer__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
  margin-top: 7px;
  margin-bottom: 20px;
}
