.logo {
  margin-right: 93px;
  color: var(--title-text-color);
  font-family: $logo-fonts;
  font-size: 26px;
  letter-spacing: 0.03em;
  text-decoration: none;

  &--footer {
    display: block;
    color: var(--white-text-color);
    font-style: normal;
    margin-bottom: 20px;
  }
}

.logo__web {
  color: var(--accent-color);
}
