.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  @media screen and (max-width: ($tablet - 1)) {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
