.menu-container {
  width: 100%;

  @media screen and (max-width: ($tablet - 1)) {
    display: none;
    position: fixed;
    top: 0;
    left: 0;

    height: 100%;
    z-index: 1;

    background-color: var(--white-text-color);
    padding: 48px 40px;
  }

  &.is-open {
    display: block;
  }

  @media screen and (min-width: $tablet) {
    display: flex;
  }
}
