.site-nav {
  @media screen and (min-width: $tablet) {
    display: flex;
    margin-left: 88px;
  }
  @media screen and (min-width: $desktop) {
    margin-left: 93px;
  }
}

.site-nav__item:not(:first-child) {
  @media screen and (min-width: $tablet) {
    margin-left: 50px;
  }
}

.site-nav__link {
  display: block;
  position: relative;

  padding-bottom: 32px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 40px;

  line-height: 1.14;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: var(--transfotmation-time);
  transition-timing-function: var(--tranformation-function);

  &:hover,
  &:focus,
  &--active {
    color: var(--accent-color);

    &::after {
      @media screen and (min-width: $tablet) {
        content: '';
        display: block;
        position: absolute;
        height: 4px;
        width: 100%;
        left: 0;
        bottom: 0;
        background-color: var(--accent-color);
        border-radius: 2px;
      }
    }
  }

  @media screen and (min-width: $tablet) {
    padding-top: 32px;
    font-size: 14px;
  }
}
